.span {
  color: red;
  font-size: 1.5vw;
  margin: 1vw 0;
  display: block;
  position: absolute;
  padding: 0;
  top:3vw;
  left: 0;
}

.form {
  padding: 1vw;
  background-color: rgb(250, 250, 250);
}

.heading {
  font-size: 3vw;
  margin: 0 0 1vw 0;
  display: block;
}
 
.cont {
  position:relative;
  margin-bottom: 4vw;
}

.checkbox {
  margin: 0vw 1vw 2vw 0;
  float: left;
  width: 3vw;
  aspect-ratio: 1/1;
}

.input {
  width: 40vw;
  height: 10px; 
  margin: 2vw 2vw 1vw 0;
}

:focus {
  outline: none;
}

.inputInvalid {
  width: 40vw;
  height: 10px;
  border-color: red;
}

.label {
  font-size: 2vw;
  display: block;
}

.labelcheck {
display: flex;
}

.button {
  width: 10vw;
  height: 5vw;
  margin-top: 3vw;
}

.captcha {
  width: 20vw;
  height: 10vw;
  display: block;
}