.slogan {
  font-family: Arial, sans-serif;
  font-size: 1.7vw;
  font-weight:normal;
  font-style: normal;
  color: black;
  margin: 1vw;
  padding: 0 1vw 2vw 0;
}

.inputField {
  all: unset;
  font-family: Arial, sans-serif;
  font-size: 1.5vw;
  font-weight:normal;
  font-style: italic;
  color: black;
  margin: 0 0 0 1vw;
  padding: 0;
  border: 1px solid grey;
}

.invisible {
  display: none;
}