.header {
  grid-area: header;
  background-color:rgb(250, 250, 250);
  height: min-content;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  padding: 1vw;
}

.logo {
  width: 5vw;
  background-image: url('../../image/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.logoText {
  font-size: 3vw;
  font-weight:bolder;
  line-height: 3vw;
  display: block;
  margin: 0;
  color:rgb(31, 65, 133);
  align-self:stretch;
}