.message {
  color: black;
  font-size: 1.5vw;
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-self: center;
}


.wrapper {
  display: flex;
  justify-content: flex-start;
  min-height: 5vw;
}